{% extends "layout.html" %}
{% block content %}
<div>
    <form method="post" action="">
        <fieldset>
            <div>
                {{ form.email.label }}
                {{ form.email }}
            </div>
            <div>
                {{ form.password.label }}
                {{ form.password }}
            </div>
            <div>
                {{ form.remember }}
                {{ form.remember.label }}
            </div>
            <div>
                {{ form.submit }}
            </div>
        </fieldset>
</div>
    </form>
{% endblock content %}
